/* Geral  */

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.panel {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
}

/* Área dos pontos */

.scores {
  display: flex;
}

.score {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.score h1 {
  font-size: 1.6rem;
  font-weight: 300;
}

.life-bar {
  border: 1px solid #AAA;
  height: 20px;
  width: 80%;
}

.life-bar .life {
  background-color: green;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.life-bar .life.danger {
  background-color: red;
}

/* Área do resultado  */

.result {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: center;
}

.result .win {
  color: green;
}

.result .lose {
  color: red;
}

/* Area dos botões (controle do jogo) */

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.new-game {
  background-color: #4253af;
  color: #fff;
}

.attack {
  background-color: #e51c23;
  color: #fff;
}

.especial-attack {
  background-color: #ff9800;
  color: #000;
}

.heal {
  background-color: #259b24;
  color: #fff;
}

.give-up {
  background-color: #bbb;
  color: #000;
}

/* Área dos logs */

.logs ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logs ul li {
  display: flex;
  justify-content: center;
  margin: 4px 0px;
  padding: 3px 0px;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 3px;
}

.player {
  background-color: #4253afaa;
  color: #fff;
}

.monster {
  background-color: #e51c23aa;
  color: #fff;
}